
.container{
  display: flex;
  padding: 0;
    margin: 0;
    justify-content: center;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.title{
justify-items: center;
  background-color: #256D85;
}

.contact {
  border-radius: 20px;
  background-color: #F0EABE;
  padding: 50px;
  margin: 30px;
}